body {
    background-color: #333333;
    margin: 0;
    padding: 0;
}

#iniScreen {
    position: fixed;
    text-align: center;
    width: 320px;
    height: 520px;
    color: aqua;
}

#pauseScreen {
    position: fixed;
    text-align: center;
    width: 320px;
    height: 520px;
    color: #00EEEE;
}

#pauseBtn {
    position: fixed;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    color: #FFFAFA;
}

#pauseMessage {
    font-size: 35px;
    margin-top: 240px;
    font-family: "Courier New", Courier, monospace;
}

#canvasDiv {
    position: fixed;
    width: 320px;
    height: 520px;
}

#canvas {
    position: fixed;
    border: solid "#123456";
}

#level {
    text-align: center;
    margin-top: 145px;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

#message {
    font-size: 35px;
    font-family: "Courier New", Courier, monospace;
}

#clicktoplay {
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    color: aquamarine;
    font-weight: bold;
    font-family: sans-serif;
}