body {
    background-color: #333333;
    margin: 0;
    padding: 0;
}

#iniScreen {
    position: fixed;
    text-align: center;
    width: 320px;
    height: 520px;
    color: aqua;
}

canvas {
    position: fixed;
    border: solid "#123456";
}

#score {
    position: relative;
    margin-top: 145px;
    float: left;
    margin-left: 20px;
    font-size: 30px;
    font-family: sans-serif;
}

#level {
    text-align: center;
    float: left;
    margin-top: 145px;
    margin-left: 70px;
    font-size: 30px;
    font-family: sans-serif;
}

#message {
    font-size: 35px;
    font-family: monospace
}

#clicktoplay {
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    color: aquamarine;
    font-weight: bold;
    font-family: sans-serif;
}